<!DOCTYPE html>
<html>
<%= render 'head' %>
<body>
  <%= render "navbar" %>
  <section class="main-content">
    <%= yield %>
  </section>
  <section id="contacts">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
        <h1 class="text-center">Say Hello</h1>
        <p class="text-center">And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form id="contact-form" action="/" method="post">
          <div class="row">	
            <div class="col-xs-12 formContainer">
              <input type="text" name="inquiry[name]" id="name" value="" class="requiredField" placeholder="Name">
            </div>
            <div class="col-xs-12 formContainer">
              <input type="text" name="inquiry[email]" id="email" value="" class="requiredField email" placeholder="Email">
            </div>
            <div class="col-xs-12 formContainer">
              <textarea name="inquiry[message]" id="message" rows="20" cols="30" class="requiredField" placeholder="Briefing"></textarea>
            </div>
            <div class="col-xs-12 formContainer">
              <input type="hidden" name="submitted" id="submitted" class="button" value="SEND"><button id="submit" class="btn" type="submit">SEND</button>
            </div>
            <div class="col-xs-12 formContainer">
              <p id="error" data-alert="" class="alert">Please fill in all data correctly.</p>
              <p id="thanks" data-alert="" class="alert alert-success">Thanks. We'll get back to you as soon as possible.</p>
              <p id="timedout" data-alert="" class="alert">The connection to the server timed out.</p>
              <p id="state" data-alert="" class="alert"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <%= render 'footer' %> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %> 
</body>  
</html>